html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.title-control-container {  
  width: 90%; 
  max-width: 400px;  
  background-color: rgba(255, 255, 255, 0.8);  
  padding: 8px;  
  text-align: center;  
  border: solid gray 1px;  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: center;  
  font-family: Arial, sans-serif;
  z-index: 1000;  
  position: absolute;  
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
}

.title-control-container .title {
  font-size: 18px; 
  font-weight: bold;
}

#viewDiv {
  height: 100vh; 
  width: 100vw; 
  top: 0;
  left: 0;
}

#mainFilterBtn{
  height: 160px;
  width: 100%;
  visibility: hidden;
  .esri-collapse_icon {
    display: none;
  }
}

.filterField .optionItem{
  width: 100%;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}

.filterField .optionItem:focus {
  background-color: lightgrey;
}

.filterField .optionItem:hover {
  background-color: lightgrey;
}

.optionItem {
  text-align: center;
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;  
  max-width: 100%;  
}

.addRecordBtn {
  position: absolute;
  z-index: 1000;
  bottom: 15px;
  right: 15px;
  background-color: #0079c1;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 50px; 
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.addRecordBtn:hover {
  background-color: #005a87;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .title-control-container {
      width: 55%;
      font-size: 16px;
      padding: 6px;
  }

  .addRecordBtn {
      padding: 10px 16px;
      font-size: 14px;
      bottom: 10px;
      right: 10px;
  }
}
